.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #cdcdcd;
  color: #949ba5;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  text-align: left;
}

.PageSwitcher__Item--Active {
  background-color: #88bbd6;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: left;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: left;
}

.FormCenter2 {
  margin-bottom: 100px;
  display: block;
  text-transform: uppercase;
  font-size: 2em;
  color: #88bbd6;
  text-align: center;
}

.App {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #caebf2;
  display: flex;
}

.App__Form {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 0.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormField {
  margin-bottom: 40px;
  text-align: right;
}

.FormField1 {
  margin-bottom: 40px;
  text-align: left;
  padding-top: 2em;
}

.FormField2 {
  margin-bottom: 40px;
  text-align: center;
  padding-top: 2em;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
  color: rgb(105, 105, 107);
  text-align: right;
}
.FormField__Input {
  width: 100%;
  font-size: 0.7em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.048);
}

.FormField__Input::placeholder {
  color: #cdcdcd;
}

.FormField__Button {
  background-color: #88bbd6;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 1em;
  font-weight: 500;
  justify-content: left;
}

button:focus,
button:hover {
  background: rgb(174, 198, 214);
}

.FormField__Input__Date {
  width: 100%;
  font-size: 0.7em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  font-weight: 700;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.048);
  color: #cdcdcd;
}
.dashboard {
  background-color: #ffffff;
  justify-content: right;
  align-items: right;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14); */
  padding: 60px;
}

.up-navbar {
  background-color: #d0e8ee;
  border-radius: 0em;
  box-shadow: 0px 11px 10px 2px rgba(0, 0, 0, 0.096);
}
.up-nav-style {
  display: flex;
  flex-direction: row-reverse;

  height: 8%;
  float: left;
  color: #797e85;
  text-align: center;

  text-decoration: none;
  font-size: 20px;
}
.up-nav-style :hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
.down-navbar {
  background-color: #f8feff;

  border-radius: 0.5em;
  box-shadow: 20px 11px 10px 15px rgba(0, 0, 0, 0.096);
}
.down-nav-style {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  height: 5%;
  float: left;
  color: #949ba5;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}
.nav-dropdown {
  background: none;
  border: none;
}
.nav-txt {
  color: #949ba5;
}
.clinicFormInput-checkbox {
  background-color: transparent;
  border: none;
  color: black;
  outline: none;

  font-size: 1.3em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;

  text-align: right;
}
.clinicFormInput {
  width: 100%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}
.clinicFormInput-info {
  width: 100%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border: solid;

  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}
.clinicFormCheckbox {
  margin-left: 7em;
}
.clinicFormTitle {
  display: block;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
  text-justify: inherit;
  height: 2em;
  width: 50%;
  color: white;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  margin-top: 3em;
  margin-left: 9em;
  /* border: solid; */

  border-radius: 25px;
  justify-content: center;
  background-color: #1a3972;
  background-size: 8em;
}
.clinicFormTitleText {
  margin-right: 2em;
  width: 80%;
}
.FormField3 {
  margin-top: 3em;
  margin-bottom: 40px;
  text-align: right;
}

.titleOffice {
  color: rgb(49, 48, 48);
  font-size: 18px;
  margin-bottom: 0.5em;
}
.locationbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}
.newoffice {
  width: 700px;
  height: 100px;
  padding: 20px 40px;
  margin: 5px;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid;
  border-bottom-color: black;
  transition: 0.3s;
  text-align: right;
  color: #6c94cc;
  font-size: 30px;
  float: right;
  margin: 5px;
  margin-bottom: 3em;
}
.Drofficecard {
  width: 700px;
  padding: 20px 40px;

  color: #5d6166;
  text-align: right;
  float: right;
  border-bottom: 1px solid;
  margin: 5px;

  transition: 0.3s;
}
