.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #cdcdcd;
  color: #949ba5;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  font-size: 1em;
}

.PageSwitcher__Item--Active {
  background-color: #88bbd6;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: left;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: left;
}

.FormCenter2 {
  margin-bottom: 100px;
  display: block;
  text-transform: uppercase;
  font-size: 2em;
  color: #88bbd6;
  text-align: center;
}

.App {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #caebf2;
  display: flex;
}

.App__Form {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  padding-top: 50px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 0.3em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormField {
  margin-bottom: 40px;
  text-align: right;
}

.FormField1 {
  margin-bottom: 40px;
  text-align: left;
  padding-top: 2em;
}

.FormField2 {
  margin-bottom: 40px;
  text-align: center;
  padding-top: 2em;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 1.6em;
  color: rgb(105, 105, 107);
  text-align: right;
}
.FormField__Input {
  width: 100%;
  font-size: 0.7em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 0.3em;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.048);
}

.FormField__Input::placeholder {
  color: #c0bdbd;
  font-size: 1.3em;
}

.FormField__Button {
  background-color: #88bbd6;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3em;
  padding: 15px 70px;
  font-size: 1.3em;
  font-weight: 600;
  justify-content: left;
}

.FormField__Button:hover {
  background: rgb(174, 198, 214);
}

.FormField__Input__Date {
  width: 100%;
  font-size: 0.7em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  font-weight: 700;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 0.3em;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.048);
  color: #cdcdcd;
}
.dashboard {
  background-color: #f8feff;
  justify-content: right;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 60px;
 display: inline-block;
 padding-bottom: 40px;
}

.up-navbar {
  background-color: #01579b;

  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.315);
}
.up-nav-style {
  display: flex;
  flex-direction: row-reverse;

  height: 7%;
  float: left;
  color: #ffffff;
  text-align: center;
  padding-right: 80px;
  text-decoration: none;
  font-size: 20px;
}
.up-nav-style :hover {
  background-color: #81d4fa;

  cursor: pointer;
}
.down-navbar {
  background-color: #ffffff;
  padding-left: 80px;
  border-radius: 0.3em;
  box-shadow: 20px 15px 8px 15px rgba(0, 0, 0, 0.096);
}
.down-nav-style {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  height: 5%;
  float: left;
  color: #949ba5;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}
.nav-dropdown {
  background: none;
  border: none;
}
.nav-txt {
  color: #1a4888;
}

.clinicFormInput-checkbox {
  background-color: transparent;
  border: none;
  color: rgb(39, 36, 36);
  outline: none;
  margin-left: 2em;
  font-size: 1.6em;
  font-weight: 500;
  padding-bottom: 10px;
  margin-top: 10px;

  text-align: right;
}
.clinicFormInput {
  width: 90%;
  font-size: 0.9em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  background: rgba(216, 210, 210, 0.04);
  padding: 10px 20px;
  border-radius: 0.3em;
  margin-right: 4%;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.048);
}
.clinicFormInput-info {
  width: 90%;
  background: rgba(136, 126, 126, 0.04);
  border: none;
  color: black;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.048);

  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  margin-right: 4%;
}
.clinicFormCheckbox {
  margin-left: 0.5em;
  margin-right: 4%;
}
.clinicFormTitle {
  display: block;
  text-transform: uppercase;
  font-size: 2em;
  color: #00355e;
  text-align: right;
  margin-right: 4%;
  padding-top: 5%;
}
.divider__clinic {
  width: 90%;
  margin-left: 6%;
  margin-bottom: 10%;
}
.clinicForm {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.3em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 10px;
}
.clinicFormLable {
  display: block;
  text-transform: uppercase;
  font-size: 1.5em;
  color: rgb(51, 51, 51);
  text-align: right;
  margin-right: 4%;
  font-weight: 600;
}

.FormField3 {
  margin-bottom: 40px;
  text-align: right;
}

.officecardtitle {
  display: flex;
  color: #01579b;
  font-size: 2.4em;
  border-bottom: solid 0.3px;
  justify-content: center;
}
.clinicButton {
  border: 0.1;
  outline: 0;
  border-radius: 0.3em;
  color: white;
  background-color: #00355e;
  text-align: center;
  cursor: pointer;
  width: 20%;
  font-size: 18px;
  margin-top: 20px;
  padding: 5px;
  margin-left: 10%;
  font-size: 1em;
}
.clinicButton:hover {
  background: rgb(174, 198, 214);
}

.titleOffice {
  color: rgb(49, 48, 48);
  font-size: 18px;
  margin-bottom: 0.5em;
  border-bottom: solid 0.3px;
  justify-content: center;
}
.Officecardinfo {
  font-size: 26px;
  color: #484b4e;
  padding-top: 2px;
}
.locationbutton {
  border: 0.1;
  outline: none;

  color: #5d6166;
  background-color: #cfd8dc21;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
  padding: 3px;
}
.locationbutton:hover {
  background: rgb(174, 198, 214);
  cursor: pointer;
}
.Drlistlable {
  text-align: center;
  font-size: 25px;
}
.newoffice {
  width: 10%;
  font-size: 1.6em;
  /* padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 21%; */
  background-color: #ffffff;
  color: #00355e;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1.5%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 3%;
  margin-left: 15%;
}
.newoffice:hover {
  background: #81d4fa;
  cursor: pointer;
}
.Drofficecard {
  width: 70%;
  margin: auto;
  margin-top: 2%;
  min-height: 32vh;
  padding: 20px 30px;
  background-color: #ffffff;
  color: #5d6166;
  text-align: right;
  /* float: right; */
  display: flex;
  flex-direction: column;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.Drlistimg {
  width: 100%;
  height: 180px;
}

.Drlistcard {
  width: 21%;
  padding: 20px 30px;
  background-color: #ffffff;
  color: #5d6166;
  text-align: center;
  float: right;
  margin: 1%;
  /* margin-right: 10px;
  margin-bottom: 10px; */
  flex: 1 0 21%;
  min-height: 300px;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.Drlist {
  padding-right: 16%;
 justify-content: center;
   flex-wrap: wrap;
  flex-direction: row;
  background-color: #f8feff;
}

.Drlistcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.Drsearch {
  margin-top: 30px;
}
.sidenav {
  height: 800px;
  width: 200px;
  position: absolute;
  right: 0px;
  margin-right: 1%;
  padding-right: 0.3%;
  
  background-color: #ffffff;
  overflow-x: hidden;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.096);
  float: right;
  text-align: right;
  position: fixed;
}

.filteringlable {
  margin: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 1.6em;
  color: #01579b;
  border-bottom: solid 0.02px;
  padding: 5px;
  text-align: right;
}
.Filtering__Label {
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #5d6166;
  text-align: right;
  margin-right: 10px;
}
.Filtering__Input {
  width: 85%;
  font-size: 0.7em;
  font-weight: 300;
  padding: 3px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: right;
  margin-bottom: 10px;
  background: rgba(136, 126, 126, 0.04);
  border-radius: 0.3em;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.048);
}
.Filtering__Input::placeholder {
  color: #cdcdcd;
}
.Filtering__Button {
  background-color: #01579b;
  color: white;

  border-radius: 0.3em;
  padding: 5px 20px;
  font-size: 1em;
  font-weight: 300;
  justify-content: left;
  margin-top: 20px;
  margin-right: 10px;
}
.Filtering__Button:hover {
  background: rgb(174, 198, 214);
}

/* Start of doctor profile view for user */

/* main container */
.DrProfileView {
  width: 850px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: white;
 
  margin-bottom: 8%;
  margin-right: auto;
  margin-left: auto;

  border-radius: 0.3em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
  font-size: 1.3em;
}

/* avatar css */
.ProfileViewAvatar {
  margin: auto;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  vertical-align: middle;
  width: 60%;
  height: 20%;
  min-width: 20vh;
  min-height: 30vh;

  z-index: +1;
  position: relative;
}
.avatar {
  margin: auto;

  vertical-align: middle;
  width: 60%;
  height: 20%;
  min-width: 20vh;
  min-height: 30vh;
  border: solid;
  border-width: 0.8px;
  border-color: #00507a;

  z-index: +1;
  position: relative;
}
/* table with one cell for showing name */
.nameInfoTable {
  width: 100%;
  display: table;
  padding-top: 5%;
}
.nameTableRow {
  width: 100%;
  display: table-row;
  background-color: #eefaff;

  border-bottom: 0.5px solid rgb(196, 189, 189);
}

.namerightTableCell {
  width: 50%;
  display: table-cell;
  padding-top: 10%;
  text-align: right;
  font-size: 2.1em;
  padding-bottom: 5%;
  padding-top: 5%;
  color: #00355e;
  padding-right: 3%;

  border-bottom: 0.5px solid rgb(196, 189, 189);
}
.nameleftTableCell {
  width: 50%;
  padding-bottom: 5%;
  padding-top: 5%;
  display: table-cell;
  padding-left: 6%;
  text-align: left;

  border-bottom: 0.5px solid rgb(196, 189, 189);
}
.nameDisplay {
  margin-bottom: 0em;
}
.DrProfileViewStar {
  display: flex;
  padding-top: -20%;
  justify-content: right;
  position: relative;
  margin-left: 10%;
}
/* table with two cells for showing personal information */
.infoTable1 {
  display: table;
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
}
.tableRow1 {
  display: table-row;
}
.rightTableCell {
  width: 50%;
  display: table-cell;
  color: rgb(73, 73, 75);

  text-align: right;
  padding-right: 5%;

  padding-bottom: 3%;
  font-size: 1.4em;

  /* border: 0.5px solid; */
}
.leftTableCell {
  width: 50%;
  display: table-cell;
  color: rgb(73, 73, 75);
  /* border: 0.5px solid; */
  text-align: right;
  padding-right: 5%;

  padding-bottom: 3%;
  font-size: 1.4em;
}
.divider__ViewProfile {
  width: 95%;

  margin-top: 5%;
}
/* table with one cell for showing "clinic" word */
.infoWrap {
  border: 0.5px solid rgb(196, 189, 189);
  margin-bottom: 8%;
}

.borderProfile {
  border-right: 0.5px solid rgb(196, 189, 189);
  border-bottom: 0.5px solid rgb(196, 189, 189);
  border-left: 0.5px solid rgb(196, 189, 189);
}
.infoTable0 {
  width: 100%;
  display: table;
}
.tableRow0 {
  width: 100%;
  display: table-row;
  background-color: #eefaff;
}
.completeTableCell0 {
  display: table-cell;
  color: #000000;
  text-align: right;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 2em;

  border-bottom: 0.5px solid rgb(196, 189, 189);
}
/* table with one cell for showing "اطلاعات تکمیلی" words */
.infoTable2 {
  width: 100%;
  display: table;
}
.tableRow2 {
  width: 100%;
  display: table-row;
  background-color: #eefaff;
}
.completeTableCell1 {
  display: table-cell;
  color: #000000;
  text-align: right;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-size: 1.7em;

  border-top: 0.5px solid rgb(196, 189, 189);
  border-bottom: 0.5px solid rgb(196, 189, 189);
}
/* table with one cell for showing extra information about a clinic */
.infoTable3 {
  display: table;
  width: 100%;
  padding-top: 6%;
}
.tableRow3 {
  display: table-row;
}
.completeTableCell2 {
  display: table-cell;
  color: rgb(73, 73, 75);

  text-align: right;
  padding-right: 5%;
  padding-top: 0%;
  padding-bottom: 3%;
  font-size: 1.4em;
}
/* css for extra information about a clinic lists */
.infoList {
  list-style-type: none;
}
.listItem {
  margin-bottom: 3%;
}
/*table for rating*/
.infoTableRating {
  display: table;
  width: 100%;

  border: 0.5px solid rgb(196, 189, 189);
}
.tableRowRating {
  display: table-row;
}
.rightTableCellRating {
  width: 50%;
  display: table-cell;
  color: rgb(73, 73, 75);
  padding-bottom: 3.5%;
  text-align: right;
  padding-right: 5%;

  font-size: 1.4em;

  /* border: 0.5px solid; */
}
.leftTableCellRating {
  width: 50%;
  display: table-cell;
  color: rgb(73, 73, 75);
  /* border: 0.5px solid; */
  text-align: center;

  font-size: 1.4em;
}

.Rating {
  display: flex;
  margin-left: -10%;
  padding-top: 5%;
  margin-bottom: -8%;
  justify-content: center;
  position: relative;
}

/* End of doctor profile view for user */

/* edit profile css starts */
.DrProfileForm {
  width: 850px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: white;
  margin-top: 8%;
  margin-bottom: 8%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.3em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
  font-size: 1.3em;
}

.DrProfileFormField {
  margin-bottom: 40px;
  text-align: right;
}

.DrProfileFormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 1.4em;
  color: rgb(105, 105, 107);
  text-align: right;
  margin-right: 5%;
}

.DrProfileFormField__Input__Right {
  width: 100%;
  font-size: 0.9em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: right;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  background: rgba(216, 210, 210, 0.04);
  padding: 10px 20px;
  border-radius: 0.3em;

  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.048);
}
.DrProfileFormField__Input__Right::placeholder {
  color: black;
  text-align: right;
  font-size: 1.1em;
}
.DrProfileFormField__Input__Left::placeholder {
  color: black;
  text-align: left;
  font-size: 1.1em;
}
.DrProfileFormField__Input__Left {
  width: 100%;
  color: black;
  font-size: 0.9em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  font-weight: 700;
  letter-spacing: 1px;
  background: rgba(216, 210, 210, 0.04);
  padding: 10px 20px;
  border-radius: 0.3em;

  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.048);
}
.DrProfileFormField__Input::placeholder {
  color: #000000;
}

.DrProfileInfoTable {
  display: table;
  padding-top: 5%;
}
.DrProfileTableRow {
  display: table-row;
}
.DrProfileRightTableCell {
  width: 20%;
  display: table-cell;

  text-align: right;
}
.DrProfileLeftTableCell {
  width: 50%;
  display: table-cell;
  padding-left: 4%;
  text-align: right;
}

/* Titles in edit profile */
.DrProfileFormField__Tiltle {
  display: block;
  text-transform: uppercase;
  font-size: 2em;
  color: #00355e;
  text-align: right;
  margin-right: 4%;
  padding-top: 0%;
}

.DrProfileInfoTable__Tiltle {
  display: table;
  padding-top: 2%;
}
.DrProfileTableRow__Tiltle {
  display: table-row;
}
.DrProfileRightTableCell__Tiltle {
  width: 50%;
  display: table-cell;

  text-align: right;
}

.DrProfileLeftTableCell__Tiltle {
  width: 0%;
  display: table-cell;
  padding-left: 30%;
  text-align: right;
}
/* end of titles */
/* picture */
.DrProfileInfoTable__Picture {
  display: table;
  width: 98%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
}
.DrProfileTableRow__Picture {
  display: table-row;
  background-color: #eefaff;
}
.DrProfileRightTableCell__Picture {
  width: 50%;
  display: table-cell;
  padding-top: 10%;
  text-align: right;
  font-size: 2.1em;
  padding-bottom: 5%;
  padding-top: 5%;
  color: #000000;
  padding-right: 3%;
}
.DrProfileLeftTableCell__Picture {
  width: 50%;
  padding-bottom: 5%;
  padding-top: 5%;
  display: table-cell;
  padding-left: 6%;
  text-align: left;
}
.EditProfileAvatar {
  margin: auto;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  vertical-align: middle;
  width: 60%;
  height: 20%;
  min-width: 20vh;
  min-height: 30vh;

  z-index: +1;
  position: relative;
}
.ChosePicture {
  width: 5%;
  position: relative;
  padding-left: 6%;
  padding-top: 6%;
  font-size: 0.8em;
}
.ChosePictureButton {
  border: solid;
  padding: 5% 5% 5% 5%;
  display: block;
  font-size: 0.5em;
}
.divider__EditProfile {
  width: 95%;
  margin-left: 4%;
}
.editProfileButton0 {
  border: 0.1;
  outline: 0;
  border-radius: 0.3em;
  color: white;
  background-color: #00355e;
  text-align: center;
  cursor: pointer;
  width: 20%;
  font-size: 18px;
  margin-top: 20px;
  padding: 5px;
  margin-left: -0.4%;
  font-size: 1em;
  margin-bottom: 4%;
}
.editProfileButton1 {
  border: 0.1;
  outline: 0;
  border-radius: 0.3em;
  color: white;
  background-color: #00355e;
  text-align: center;
  cursor: pointer;
  width: 20%;
  font-size: 18px;
  margin-top: 20px;
  padding: 5px;
  margin-left: 3.8%;
  font-size: 1em;
  margin-bottom: 4%;
}
.editProfileButton0:hover {
  background: rgb(174, 198, 214);
}
.editProfileButton1:hover {
  background: rgb(174, 198, 214);
}
/* end of picture */
/* edit profile css ends */
.containerlist {
  margin-top: 0.7em;
}
/******************************chatt*****************************************/
.chat{
  padding-left: 30px;
  padding-right: 30px;
  height: 630px;

 
}
.messaging{
  border-left:none;
}
.header{
  height: 50px;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.315);
  color: #01579b;
  text-align: center;
  background-color: #f8feff;
  margin-bottom: 20px;
}
img{ max-width:100%;}
.inbox_people {
  
  background: #f8feff none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 30%;
   border-right:1px solid #c4c4c4;
  height: 710px;
  padding-top: 10px;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
  
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 12%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  
  padding: 18px 16px 10px;
  
}
.inbox_chat { 
  height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;margin-bottom: 2px;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 80%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  
  float: left;
  padding: 30px 15px 0 25px;
  width: 70%;
  overflow-x:hidden;
  
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
  overflow-x:hidden;
}
.outgoing_msg{
   
  overflow:hidden; 
   margin:26px 0 26px;
   
  }
.sent_msg {
  float: right;
  width: 50%;
  
}
.input_msg_write input {
  background: rgba(109, 16, 16, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 40px;
  width: 100%;
  outline: none;
 
  
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  outline: none;

display: grid;
grid-row-start: 190;
grid-row-end: 190;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: left;
  
  width: 33px;
}

.msg_history {
  height: 600px;
  overflow-y: auto;
}
.right{
  text-align: right;
}
.nomassage{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30%;
  font-size: 30px;
  color: #00000027;
  
}
/**********************************************************/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.notifbutton{
  background: transparent;
  border: none;
  color: white;
  padding-bottom: 12px;
  outline: none;
  margin-top: 8px;
}
.modalheader{
  margin-right: 3px;
  outline: none;
}

.notifs{
  display: flex;
  flex-direction: column;
  
}
.notif1{
  background-color: teal;
  padding: 5px;
  margin-top: 6px;
  border-radius: 4px;
  color: white;
  cursor: pointer;

}
.notif3{
  background-color: rgb(128, 0, 6);
  padding: 5px;
  margin-top: 6px;
  border-radius: 4px;
  color: white;
  cursor: pointer;

}
.notif4{
  background-color: rgb(124, 0, 128);
  padding: 5px;
  margin-top: 6px;
  border-radius: 4px;
  cursor: pointer;
  
  color: white;


}
.notif2{
  background-color: rgb(212, 223, 68);
  padding: 5px;
  margin-top: 6px;
  
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.notifbadge {

  
  padding: 0px 8px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.678);
  color: white;
}
.notif1:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.notif2:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.clearbutton{
  margin-top: 6px;
}

/* clinic calender css starts */
.Clinic__App {
  text-align: center;
  /* border: solid 0.3px #01579b; */
  /* margin-top: 3%; */
  padding: 1%;
  height: 120vh;
}

.calenderButton {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  margin-right: 43%;
  font-size: 1.2em;
}
.calenderButton:focus {
  outline: none;
}
.Clinic__App_Res {
  text-align: center;
  /* border: solid 0.3px #01579b; */
  margin-top: 3%;
  padding: 1%;
  height: 120vh;
  width: 100%;
  /* margin-left: 14%; */
}
.clinicCard {
  margin-top: 5%;
  color: #000000;
}
.CalenDrop {
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  font-weight: 300;

  text-align: right;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  background: rgba(216, 210, 210, 0.04);

  border-radius: 0.3em;
  margin-right: 4%;
  outline: none;
  box-sizing: border-box;
  border: none;
  /* border: 2px solid rgba(216, 210, 210, 0.04); */
}

.CalenContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: white;
  margin-top: 8%;
  margin-bottom: 8%;
  margin-right: auto;
  margin-left: auto;

  border-radius: 0.3em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
}
.modalbodCalender {
  font-size: 1.5em;
  color: #002a4b;
  text-align: right;
}
/* .clinicFormInput::placeholder {
  color: black;
} */

/* clinic calender css ends */
