@import url("https://fonts.google.com/specimen/Jomhuria/?subset=arabic");
@import url("https://fonts.google.com/specimen/Scheherazade?subset=arabic&sidebar.open&selection.family=Scheherazade");
/* @import "react-big-calendar/lib/sass/styles";
@import "react-big-calendar/lib/css/react-big-calendar.css"; */

* {
  box-sizing: border-box;
<<<<<<< HEAD
  /* font-family: "Markazi Text", serif; */
  /* font-family: "Katibeh", cursive; */
  font-family: "shabnam";
  font-weight: 200;
}

=======
  /* font-family: "Markazi Text", serif; 
   font-family: "Katibeh", cursive;  */
  font-family: "Lateef";
  font-weight: 400;
}
>>>>>>> dev

body {
  margin: 0;
  padding: 0;
}

.mr-20 {
  margin-right: 20px !important;
}
